<mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side" [opened]="sideNavService.get()" style="width: 20%">
        <h2>Memo Kanji</h2>
        <mat-action-list>
            <button mat-list-item [routerLink]="['/']">
                <mat-icon matListItemIcon>
                    home
                </mat-icon>
                Home
            </button>
            <button mat-list-item [routerLink]="['/kanji']">
                <mat-icon matListItemIcon>
                    list
                </mat-icon>
                Kanji List
            </button>
            <button mat-list-item>
                <mat-icon matListItemIcon>settings</mat-icon>
                Settings
            </button>
            <button mat-list-item>
                <mat-icon matListItemIcon>account_circle</mat-icon>
                Account
            </button>
            
            <button mat-list-item>
                <mat-icon matListItemIcon>feed</mat-icon>
                About
            </button>
            <button mat-list-item>
                <mat-icon matListItemIcon>help</mat-icon>
                Help
            </button>
        </mat-action-list>
    </mat-drawer>
  
    <div class="content">
      <app-toolbar></app-toolbar>
      <router-outlet></router-outlet>
      <app-statusbar></app-statusbar>
    </div>
  
</mat-drawer-container>