<div class="toolbar">
    <mat-toolbar color="primary">
        <button mat-icon-button (click)="sidenavService.set(!sidenavService.get())">
          <mat-icon>menu</mat-icon>
        </button>
        <span>Memo Kanji</span>
        <span class="spacer"></span>
        
        <button mat-icon-button [matMenuTriggerFor]="menu" *ngIf="!isLoggedIn()">
          <mat-icon>account_circle</mat-icon>
        </button>
        <img 
          [src]="'https://ui-avatars.com/api/?length=1&name=' + getLoggedInUser().username" 
          class="rounded-circle clickable h-50" 
          [matMenuTriggerFor]="menu"
          *ngIf="isLoggedIn()"
        >
        <button mat-icon-button>
          <mat-icon>share</mat-icon>
        </button>
    </mat-toolbar>
</div>

<mat-menu #menu="matMenu">
    <ng-container *ngIf="isLoggedIn()">
      <div class="user-info p-2">
        Logged In: 
        <a href="javascript:;" class="text-decoration-underline fw-bold">{{ getLoggedInUser().username }}</a>
      </div>
    </ng-container>

    <ng-container *ngIf="!isLoggedIn()">
      <button mat-menu-item routerLink="/login">
          <mat-icon>login</mat-icon>
          <span>Login</span>
      </button>
    </ng-container>  
    
    <button mat-menu-item (click)="logout()">
      <mat-icon class="text-danger">logout</mat-icon>
      <span class="text-danger">Logout</span>
    </button>
</mat-menu>