<div class="container d-flex justify-content-center align-items-center h-100 text-center">
    <form>
        <mat-form-field appearance="fill" class="w-20">
            <mat-label>Enter your email</mat-label>
            <input matInput placeholder="pat@example.com" [formControl]="email" required>
            <mat-error *ngIf="email.invalid">{{ getErrorMessage() }}</mat-error>
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill">
            <mat-label>Password</mat-label>
            <input type="password" matInput required>
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill">
            <mat-label>Retype Password</mat-label>
            <input type="password" matInput required>
        </mat-form-field>
        <br>
        <button mat-raised-button color="primary" type="submit">Signup</button>
    </form>
    
    
</div>