<div class="position-relative">
    <div class="d-flex p-2 card-wrap">
        <mat-card class="clickable" style="height: 200px; width: 150px; background-color: #ff3074;" >
            <mat-card-header>
                <mat-card-title >
                    <span class="text-white">
                        {{ book.title }}
                    </span>
                </mat-card-title>
            </mat-card-header>
            <mat-card-content class="mt-2 h-100 d-flex justify-content-center align-items-center">
                <div>
                    <span class="text-white fw-bold" style="font-size: 25px"> 
                        {{ book.wordCount }}
                    </span>
                    <span class="text-white">words</span>
                    
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>
