<div class="d-flex flex-column w-80 justify-content-center align-items-center h-100">
    <span style="font-size: 105px;" class="d-block fw-bold border rounded px-4">哀</span>
    <div class="row w-100 text-center" style="font-size: 25px;">
        <div class="col">
            <span class="hided">アイ</span>
        </div>
        <div class="col">哀愁, 哀願, 悲哀</div>
    </div>
    <div class="row w-100 text-center" style="font-size: 25px;">
        <div class="col">
            <span class="hided">あわれ</span>
        </div>
        <div class="col">哀れ, 哀れな話, 哀れがる</div>
    </div>
    <div class="row w-100 text-center" style="font-size: 25px;">
        <div class="col">
            <span class="hided">あわれむ</span>
        </div>
        <div class="col">哀れむ, 哀れみ</div>
    </div>
</div>